.footer {
    background-color: black;
    color: white;
    padding: 20 px;
    text-align: center;
    min-height: 120px;
    display: grid;
    place-items: center;
    margin-top: -5px;
    z-index: 2;
    position: relative;
}

.footerLogo {
    position: absolute;
    left: 10px;
}
.footer img {
    margin-right: 1000px;
    margin-top: -28px;
    max-width: 50%; /* Set the maximum width */
    max-height: 50%; /* Set the maximum height */
    margin: 0 auto;
}
